*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form{
    width: 400px;
    height: 300px;
    box-shadow: 0 0 20px black;
    margin: 100px auto;
    padding:  20px;
    position: relative;
}

form input{
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 20px;
    outline-color: rgb(85, 85, 125);
    display: inline;
    background-color: #fff;
}

form label {
    position: absolute;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    left:41px;
    transition: .25s;
    display: inline-block;
}
form input:not(:placeholder-shown) + label,
form input:focus + label{
    transform: translateY(-50%);
    background-color: #fff;
    line-height: 10px;
    color: rgb(85, 85, 125);;
}
